<table class="table table-striped">

  <thead class="table-light">
    <tr>
      <th scope="col">類別</th>
      <th scope="col">名稱</th>
      <th scope="col">日期</th>
      <th scope="col">金額</th>
      <th scope="col">編輯</th>
      <th scope="col">刪除</th>
    </tr>
  </thead>

  <tbody>
    {{#each records}}
    <tr>
      <td>
        {{{iconFormat this.categoryId.name}}}
      </td>

      <td>
        {{this.name}}
      </td>

      <td>
        {{dateFormat this.date "YYYY-MM-DD"}}
      </td>

      <td>
        {{this.amount}}
      </td>
      <td>
        <a href="./records/{{ this._id }}/edit">修改</a>
      </td>
    <tr>
      {{/each}}
  </tbody>

</table>

<a href="./records/new">新增支出</a>